<section class="projects" id="projects">
    <div class="container text-center">
        <h2>
            {{ 'menu.our_projects'|trans }}
        </h2>
    </div>

    <div class="project-grid">
        <div class="row">

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <img alt="" src="{{ asset('images/consulting.jpg') }}">
                    <div class="project-over">
                        <div>
                            <h3 class="card-title">
                                Воркшоп
                            </h3>

                            <p class="card-text">

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <img alt="" src="{{ asset('images/architecture.png') }}">
                    <div class="project-over">
                        <div>
                            <h3 class="card-title">
                                Разработка системной архитектуры
                            </h3>

                            <p class="card-text">

                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <img alt="" src="{{ asset('images/university.jpg') }}">
                    <div class="project-over">
                        <div>
                            <h3 class="card-title">
                                Обучение в Bionic University
                            </h3>

                            <p class="card-text">

                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <img alt="" src="{{ asset('images/internet_shop.png') }}">
                    <div class="project-over">
                        <div>
                            <h3 class="card-title">
                                Интернет-магазин
                            </h3>

                            <p class="card-text">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
