<section class="features" id="service_catalog">
    <div class="container">
        <h2 class="text-center">
            {{ 'menu.service_catalog'|trans }}
        </h2>

        <div class="row">
            <div class="feature-col col-lg-6 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-line-chart"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            {{ 'consulting'|trans }}
                        </h3>
                        <p>
                            Накопился технический долг? Не знаете, как масштабировать проект? Падает продуктивность
                            команды разработчиков? Мы проведем диагностику, найдем решение и поможем имплементировать
                            его.
                        </p>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-6 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-database"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            {{ 'development'|trans }}
                        </h3>
                        <p>
                            Создание сайта или веб-приложения - не всегда долгосрочный процесс. Мы можем начать с
                            прототипа, найти коробочное решение, подобрать шаблон или просто устроить хакатон 24/7 и
                            напрограммировать то, что вам нужно
                        </p>
                    </div>
                </div>
            </div>
            <div class="feature-col col-lg-6 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-graduation-cap"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            {{ 'study'|trans }}
                        </h3>
                        <p>Персональные и групповые программы для повышения квалификации и новых знаний о разработке,
                            языках програмирования, методологиях разработки и системной архитектуре</p>
                    </div>
                </div>
            </div>
            <div class="feature-col col-lg-6 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-dropbox"></span>
                        </div>
                    </div>
                    <div>
                        <h3>
                            {{ 'support_migration'|trans }}
                        </h3>
                        <p>Не нужно быть заложником своего провайдера IT услуг. Если вы недовольны качеством
                            разработки или поддержки, мы поможем собрать все вещи, аккуратно перенести и поддерживать в
                            порядке.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>