<section class="technologies" id="technologies">
    <div class="container text-center">

        <h2 class="text-center">
            {{ 'menu.technologies'|trans }}
        </h2>
        <div class="row">
            <div class="col-lg-2">
                <img src="{{ asset('images/technologies/symfony.png') }}">
            </div>
            <div class="col-lg-2">
                <img src="{{ asset('images/technologies/magento.png') }}">
            </div>
            <div class="col-lg-2">
                <img src="{{ asset('images/technologies/shopify.png') }}">
            </div>
            <div class="col-lg-2">
                <img src="{{ asset('images/technologies/github.png') }}">
            </div>
            <div class="col-lg-2">
                <img src="{{ asset('images/technologies/digital-ocean.png') }}">
            </div>
            <div class="col-lg-2">
                <img src="{{ asset('images/technologies/docker.png') }}">
            </div>
        </div>

    </div>


</section>