<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>Hiber Bee</title>
    <meta name="description" content="IT Services & Consulting">
    <meta name="author" content="Hiberbee">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet"/>
    {% endblock %}
    {% if not app.user %}
        <script type="text/javascript" src="//platform.linkedin.com/in.js">
            api_key: {{ linkedin_app_id }}
            onLoad: syncLinkedinData
            authorize: true
        </script>
    {% endif %}
</head>
<body>
{% include 'header.html.twig' %}
{% include 'slider.html.twig' %}
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
{% include 'facebook-widget.html.twig' %}
{% include 'footer.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/js/common.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>