<header id="header">
    <div class="container">
        <div style="position: relative;z-index:5">
            <div id="logo" class="pull-left">
                <h1><a href="{{ path('index') }}">Hiberbee</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="{{ path('index') }}#about">{{ 'menu.about_us'|trans }}</a></li>
                    {#<li><a href="{{ path('index') }}#work_models">{{ 'menu.work_models'|trans }}</a></li>#}
                    <li><a href="{{ path('index') }}#service_catalog">{{ 'menu.service_catalog'|trans }}</a></li>
                    {#<li class="menu-has-children"><a href="">Services</a>#}
                    {#<ul>#}
                    {#<li class="menu-has-children"><a href="#">Study</a>#}
                    {#<ul>#}
                    {#<li><a href="#">Relational Database Essentials</a></li>#}
                    {#<li><a href="#">System Architecture</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li><a href="#">IT Consulting</a></li>#}
                    {#<li><a href="#">Project migration</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {#<li><a href="{{ path('index') }}#our_projects">{{ 'menu.our_projects'|trans }}</a></li>#}
                    {#<li><a href="{{ path('index') }}#team">{{ 'menu.team'|trans }}</a></li>#}
                    <li><a href="{{ path('index') }}#contact">{{ 'menu.contact_us'|trans }}</a></li>
                </ul>
            </nav>

            <nav class="nav social-nav pull-right d-none d-lg-inline">
                <a href="#"></a>
                <a href="https://facebook.com/hiberbee/" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/company/27153552/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="mailto:contact@hiberbee.com"><i class="fa fa-envelope"></i></a>
            </nav>
        </div>

    </div>
</header>