<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <h1><a href="{{ path('index') }}"><img src="{{ asset('images/logo.png') }}" height="40"></a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="{{ path('index') }}#about">{{ 'menu.about_us'|trans }}</a></li>
                <li><a href="{{ path('index') }}#process">{{ 'menu.process'|trans }}</a></li>
                <li><a href="{{ path('index') }}#service_catalog">{{ 'menu.service_catalog'|trans }}</a></li>
                <li><a href="{{ path('index') }}#our_projects">{{ 'menu.our_projects'|trans }}</a></li>
                <li><a href="{{ path('index') }}#technologies">{{ 'menu.technologies'|trans }}</a></li>
            </ul>
            <ul class="nav-menu pull-right">
                <li>
                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}#about">RU</a>
                </li>
                <li>
                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}#about">EN</a>
                </li>
            </ul>
        </nav>
    </div>
</header>